LOG_LEVEL="INFO"
LOG_USE_BASIC_FORMAT="true"

GOOGLE_APPLICATION_CREDENTIALS=""
MLFLOW_TRACKING_URI="https://"
MLFLOW_EXPERIMENT_NAME="voice-agent"

GEMINI_API_KEY=""
DAILY_API_KEY=""
ENV="dev"
SCENARIO_PROMPT_NAME=""
PROMPT_NAME=""
PROMPT_API_BASE_URL="localhost:8000"
CONFIG_API_BASE_URL="localhost:8000"


#####################################
#  Database
#####################################
# Use SQLite database URL
# Note: to use ephemeral storage, set DATABASE_URL to sqlite+aiosqlite:///:memory:?cache=shared
# be aware that this will result in all data being lost on exit.
DATABASE_URL="postgresql+psycopg://user:password@localhost:5432/db"

# --- Optional
# Echo SQL alchemy queries to stdout (recommended for debugging)
# Set to 1 to enable echo 
DATABASE_ECHO_OUTPUT=0 
# Enable reflection (recommended for production)
# Set to 1 to enable reflection
DATABASE_USE_REFLECTION=0 

#####################################
#  WEBAPP / FastAPI
#####################################
WEBAPP_PORT="7860"
WEBAPP_LOG_LEVEL=DEBUG

#####################################
#  Bots
#####################################
BOT_LOG_LEVEL=DEBUG
# --- Optional
# Maximum duration of a voice session (in seconds)
# Note: recommended to always set a max time to avoid transport session remaining open
BOT_MAX_VOICE_SESSION_TIME=900

MAX_PARTICIPANT_JOIN_SECONDS="300"
